@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display+SC:ital,wght@1,700&display=swap');

body{
    background: black;
}
h1{
    font-family: 'Playfair Display SC', serif;
}
.book-form{
    font-family: 'Playfair Display SC', serif;
}
#book{
    background: rgb(244, 226, 229);
}
#header{
    color: #FF4D6A;
}
#book-button{
    background: #FF4D6A;
    color: rgb(244, 226, 229);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
}
#form-label{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FF4D6A;
}
#form-label2{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #FF4D6A;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF4D6A;
    font-family: 'Mulish', sans-serif;
}
input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=text]:focus {
    border: 1px solid #FF4D6A;
}
#book-list{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #FF4D6A;
}
.alert{
    font-size: 18px;
    font-weight: 400;
}
.alert-danger{
    background: #FF4D6A !important;
    color: rgb(244, 226, 229);
}